<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Hospi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/popper.min.css" />
    <link rel="stylesheet" href="~/css/_layout.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" style="color: #46C200" asp-area="" asp-controller="Home" asp-action="Index">Hospi</a>
                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                제품
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Windows">Windows</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Android">Android</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                문의
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Inquiry" asp-action="GeneralInquiry">일반문의</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Inquiry" asp-action="ProductInquiry">제품문의</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                고객지원
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Support" asp-action="ProductAuthGuide">제품인증 안내</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Support" asp-action="ProductSupport">제품지원</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Support" asp-action="Notice">공지사항</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div>
                        <a class="btn btn-secondary" style="margin-right: 5px" asp-area="" asp-controller="Home" asp-action="Login">로그인</a>
                        <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="SignUp">회원가입</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top card-footer text-muted">
        <div class="container">
            <a style="float: left" asp-area="" asp-controller="Home" asp-action="Privacy">개인정보처리방침</a><br /><br />
            경기도 부천시 000번길 0, 0000 0층&nbsp;&nbsp;&nbsp;&nbsp;고객지원(평일 9시-18시): 0000-0000<br />
            사업자등록번호 000-00-00000&nbsp;&nbsp;&nbsp;&nbsp;통신판매신고번호 0000-0000-0000&nbsp;&nbsp;&nbsp;&nbsp;(주)Hospi 대표자: 홍성휘<br />
            Copyrights&nbsp;&copy;&nbsp;Hospi Inc. All rights reserved.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
