<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/popper.min.css" />
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3" id="nav_custom">
            <div class="container">
                <a class="navbar-brand" style="color: #46C200" asp-area="" asp-controller="Home" asp-action="Index">Hospi</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                제품
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Windows">Windows</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Android">Android</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                QnA
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="QnA" asp-action="GeneralInquiry">일반문의</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="QnA" asp-action="ProductInquiry">제품문의</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="QnA" asp-action="FrequentlyInquiry">자주하는 질문</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                고객지원
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Support" asp-action="ProductAuthGuide">제품인증 안내</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Support" asp-action="ProductSupport">제품지원</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Support" asp-action="Notice">공지사항</a></li>
                            </ul>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <a asp-area="" asp-controller="Home" asp-action="Login">로그인</a>
                        <a asp-area="" asp-controller="Home" asp-action="Login">회원가입</a>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Hospi - <a asp-area="" asp-controller="Home" asp-action="Privacy">개인정보 처리방침</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
