@{
    ViewData["Title"] = "병원 관리";
}

@functions{
    // 00~23까지 option 태그 출력
    async Task hourPrint()
    {
        for (var i = 0; i < 24; i++)
        {
            if (i < 10)
            {
                <option>0@(i)</option>
            }
            else
            {
                <option>@i</option>
            }
        }
    }
}

<head>
    <link rel="stylesheet" href="~/css/hospitalManagement.css" />
</head>

<script src="~/js/hospitalManagement.js"></script>

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px"><a style="color: black;" asp-controller="Home" asp-action="Index">Hospi 홈</a> > <a style="color: black;" asp-controller="User" asp-action="MyPage">마이페이지</a> > 병원 관리</p>
    </div>
</div>

<div class="container" id="userInfoContainer">
    <div class="box-div">
        <h4>기본정보</h4>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">병원명</th>
                    <td>0000대학병원</td>
                    <td><a href="#">병원명 변경</a></td>
                </tr>
                <tr>
                    <th scope="row">주소</th>
                    <td>00도 00시 000길 0-0</td>
                    <td><a href="#">주소 변경</a></td>
                </tr>
                <tr>
                    <th scope="row">전화번호</th>
                    <td>000-0000-0000</td>
                    <td><a href="#">전화번호 변경</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-div">
        <h4>운영정보</h4>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">평일 운영시간</th>
                    <td>
                        <b style="float: left; margin-right: 10px">Open</b>
                        <select class="form-control form-control-sm" name="weekdayOpenHour" style="float: left; width: 70px">
                            @{
                                await hourPrint();
                            }
                        </select>
                        <p style="float: left; margin-right: 10px; margin-left: 8px">시</p>
                        <select class="form-control form-control-sm" name="weekdayOpenMin" style="float: left; width: 70px">
                            <option value="00">00</option>
                            <option value="30">30</option>
                        </select>
                        <p style="float: left; margin-left: 8px; margin-right: 30px">분</p>
                        <b style="float: left; margin-right: 10px;">Close</b>
                        <select class="form-control form-control-sm" name="weekdayCloseHour" style="float: left; width: 70px">
                            @{
                                await hourPrint();
                            }
                        </select>
                        <p style="float: left; margin-right: 10px; margin-left: 8px">시</p>
                        <select class="form-control form-control-sm" name="weekdayCloseMin" style="float: left; width: 70px">
                            <option value="00">00</option>
                            <option value="30">30</option>
                        </select>
                        <p style="float: left; margin-left: 8px;">분</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">토요일 개원 여부</th>
                    <td>
                        <div style="margin-left: 20px">
                            <input class="form-check-input" id="saturdayClosed" type="radio" name="saturdayStatus" checked="checked" onclick="saturdayTimeSelectDisabled()" />
                            <label class="form-check-label" for="saturdayClosed" style="margin-right: 30px">휴원</label>
                            <input class="form-check-input" id="saturdayOpening" type="radio" name="saturdayStatus" onclick="saturdayTimeSelectActive()" />
                            <label class="form-check-label" for="saturdayOpening">개원</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">토요일 운영시간</th>
                    <td>
                        <b style="float: left; margin-right: 10px;">Open</b>
                        <select class="form-control form-control-sm" id="saturdayOpenHour" name="saturdayOpenHour" style="float: left; width: 70px" disabled>
                            @{
                                await hourPrint();
                            }
                        </select>
                        <p style="float: left; margin-right: 10px; margin-left: 8px">시</p>
                        <select class="form-control form-control-sm" id="saturdayOpenMin" name="saturdayOpenMin" style="float: left; width: 70px" disabled>
                            <option value="00">00</option>
                            <option value="30">30</option>
                        </select>
                        <p style="float: left; margin-left: 8px; margin-right: 30px">분</p>
                        <b style="float: left; margin-right: 10px;">Close</b>
                        <select class="form-control form-control-sm" id="saturdayCloseHour" name="saturdayCloseHour" style="float: left; width: 70px" disabled>
                            @{
                                await hourPrint();
                            }
                        </select>
                        <p style="float: left; margin-right: 10px; margin-left: 8px">시</p>
                        <select class="form-control form-control-sm" id="saturdayCloseMin" name="saturdayCloseMin" style="float: left; width: 70px" disabled>
                            <option>00</option>
                            <option>30</option>
                        </select>
                        <p style="float: left; margin-left: 8px;">분</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">공휴일 개원 여부</th>
                    <td>
                        <div style="margin-left: 20px">
                            <input class="form-check-input" id="holidayClosed" type="radio" name="holidayStatus" checked="checked" onclick="holidayTimeSelectDisabled()" />
                            <label class="form-check-label" for="holidayClosed" style="margin-right: 30px">휴원</label>
                            <input class="form-check-input" id="holidayOpening" type="radio" name="holidayStatus" onclick="holidayTimeSelectActive()" />
                            <label class="form-check-label" for="holidayOpening">개원</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">공휴일 운영시간</th>
                    <td>
                        <b style="float: left; margin-right: 10px;">Open</b>
                        <select class="form-control form-control-sm" id="holidayOpenHour" name="holidayOpenHour" style="float: left; width: 70px" disabled>
                            @{
                                await hourPrint();
                            }
                        </select>
                        <p style="float: left; margin-right: 10px; margin-left: 8px">시</p>
                        <select class="form-control form-control-sm" id="holidayOpenMin" name="holidayOpenMin" style="float: left; width: 70px" disabled>
                            <option>00</option>
                            <option>30</option>
                        </select>
                        <p style="float: left; margin-left: 8px; margin-right: 30px">분</p>
                        <b style="float: left; margin-right: 10px;">Close</b>
                        <select class="form-control form-control-sm" id="holidayCloseHour" name="holidayCloseHour" style="float: left; width: 70px" disabled>
                            @{
                                await hourPrint();
                            }
                        </select>
                        <p style="float: left; margin-right: 10px; margin-left: 8px">시</p>
                        <select class="form-control form-control-sm" id="holidayCloseMin" name="holidayCloseMin" style="float: left; width: 70px" disabled>
                            <option>00</option>
                            <option>30</option>
                        </select>
                        <p style="float: left; margin-left: 8px;">분</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">점심시간</th>
                    <td>
                        <select class="form-control form-control-sm" name="lunchHour" style="float: left; width: 70px">
                            @{
                                await hourPrint();
                            }
                        </select>
                        <p style="float: left; margin-right: 10px; margin-left: 8px">시</p>
                        <select class="form-control form-control-sm" name="lunchMin" style="float: left; width: 70px">
                            <option>00</option>
                            <option>30</option>
                        </select>
                        <p style="float: left; margin-left: 8px;">분</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="text-align:right">
            <input type="button" class="btn btn-dark" value="변경사항 적용" />
        </div>
    </div>
    <div class="box-div">
        <h4>진료과 등록</h4>
        <table class="table" id="departmentList">
            <thead>
                <tr>
                    <th class="text-center" scope="col">진료과</th>
                    <th class="text-center" scope="col">등록/삭제</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">
                        <input type="text" class="form-control" id="departmentName" />
                    </td>
                    <td class="text-center">
                        <input type="button" class="btn btn-dark" onclick="appendDepartment()" value="등록">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>