@{
    ViewData["Title"] = "마이페이지";
}

<head>
    <link rel="stylesheet" href="~/css/myPage.css" />
</head>

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px">Hospi 홈 > 마이페이지</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <a class="container custom-button" id="userInfoBtn" asp-area="" asp-controller="User" asp-action="UserInfo">
            <img class="img-style" src="~/image/shopping_cart_black.svg">
            <h5 class="jumbo-text text-md-center text-style">내 정보</h5>
        </a>

        <a class="container custom-button" asp-area="" asp-controller="User" asp-action="HospitalManagement">
            <img class="img-style" src="~/image/local_hospital_black_48dp.svg">
            <h5 class="jumbo-text text-md-center text-style">병원 관리</h5>
        </a>
    </div>
</div>