@{
    ViewData["Title"] = "내 정보";
}

<head>
    <!-- <link rel="stylesheet" href="~/css/noname.css" /> -->
</head>

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px">Hospi 홈 > 마이페이지 > 내 정보</p>
    </div>
</div>