@{
    ViewData["Title"] = "문의완료";
}

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px">Hospi 홈 > 문의</p>
    </div>
</div>

<div class="container">
    <div style="margin-top: 100px">
        <h1 class="text-center display-4">등록완료</h1>
        <p class="text-center" style="font-weight:bold;">최대한 빠른 시일 내에 문의하신 이메일로 답변해 드리겠습니다.</p>
        <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index" style="width: 150px; margin: auto; display:block; margin-top: 30px">
            홈으로
        </a>
    </div>
</div>