@{
    ViewData["Title"] = "문의완료";
}

<div class="container">
    <div style="margin-top: 150px">
        <h1 class="text-center display-4">등록완료</h1>
        <p class="text-center" style="font-weight:bold;">최대한 빠른 시일 내에 문의하신 이메일로 답변해 드리겠습니다.</p>
        <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index" style="width: 150px; margin: auto; display:block; margin-top: 30px">
            홈으로
        </a>
    </div>
</div>