@{
    ViewData["Title"] = "문의완료";
}

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px">Hospi 홈 > 문의</p>
    </div>
</div>

<div class="container">
    <h1 style="font-size:40px; font-weight:bold; margin-top:200px; margin-left:500px;">등록완료</h1>
    <p style="font-size:25px; font-weight:bold; margin-left:225px;">최대한 빠른 시일 내에 문의하신 이메일로 답변해 드리겠습니다.</p>
    <a class="btn-primary" asp-area="" asp-controller="Home" asp-action="Index" style="position:absolute; left:905px; top:450px;background-color:black; width:100px; text-align:center;">
        <p class="text-white" style="margin-top:10px; font-size:20px; font-weight:bold;">홈으로</p>
    </a>
</div>