@{
    ViewData["Title"] = "Android";
}

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px"><a style="color: black;" asp-controller="Home" asp-action="Index">Hospi 홈</a> > Android</p>        
    </div>
</div>

<div class="bg-light" style="height:870px;">
    <div class="container">
        <h1 style="margin-left:100px; padding-top:200px; font-weight:bold; font-size:50px;">HOSPI</h1>
        <p style="margin-left:100px; margin-top:20px; font-size:25px;">병원 예약, 문의를 손쉽게 할 수 있는 모바일 애플리케이션<br />예약, 진료 시 푸시 알림을 통한 사용자 편리성 제공<br />진료, 처방 내역까지 확인 가능한 앱을 지금 바로 만나보세요.</p>

        <a href='https://play.google.com/store/apps/details?id=com.gradproject.hospi&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img alt='다운로드하기 Google Play' src='https://play.google.com/intl/ko/badges/static/images/badges/ko_badge_web_generic.png' style="position: absolute; width: 300px; margin-left:85px; margin-top: 50px;" />
        </a>

        <img src="~/image/Android.png" style="position:absolute; margin-left:700px; top:150px; width:400px;height:800px; "/>
    </div>
</div>

<div class="container" style="height:900px; margin-top:60px; margin-bottom:80px;">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li style="background-color:black; width:50px; height:4px; border-radius:5px; margin-bottom:-50px;" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li style="background-color: black; width: 50px; height: 4px; margin-left: 10px; margin-bottom: -50px; " data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li style="background-color: black; width: 50px; height: 4px; margin-left: 10px; margin-bottom: -50px; " data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div style="width:300px; height:820px;">
                        <img src="~/image/Android_img1.png" style="margin-left:445px; margin-top:50px; height:600px;" />
                    </div>
                    <div class="carousel-caption d-md-block">
                        <h5 style="font-size:30px; font-weight:bold; color:black;">병원 정보 실시간 업데이트</h5>
                        <p style="font-size:20px; color:black;">실시간으로 업데이트되는 병원 정보를 확인하세요</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="width:300px; height:820px;">
                        <img src="~/image/Android_img2.png" style="margin-left:445px; margin-top:50px; height:600px;" />
                    </div>
                    <div class="carousel-caption d-md-block">
                        <h5 style="font-size: 30px; font-weight: bold; color: black;">모바일 애플리케이션을 통한 손쉬운 예약 시스템</h5>
                        <p style="font-size: 20px; color: black;">HOSPI앱을 통해 손쉽게 병원 예약을 해보세요</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="width:300px; height:820px;">
                        <img src="~/image/Android_img3.png" style="margin-left:445px; margin-top:50px; height:600px;" />
                    </div>
                    <div class="carousel-caption d-md-block">
                        <h5 style="font-size: 30px; font-weight: bold; color: black;">병원 진료 내역을 한눈에</h5>
                        <p style="font-size: 20px; color: black;">병원 진료, 처방, 처방받은 약품의 정보를 HOSPI앱을 통해 확인해보세요</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="width:100px">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="filter:invert(100%)"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="width:100px; color:black; ">
                <span class="carousel-control-next-icon" aria-hidden="true" style="filter:invert(100%)"></span>
                <span class="sr-only" style="color:black;">Next</span>
            </a>
        </div>
    </div>
</div>

