@{
    ViewData["Title"] = "다운로드";
}

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px">Hospi 홈 > Windows > 다운로드</p>
    </div>
</div>
<div class="container" style="margin-bottom: 150px">
    <div class="col-lg-12" style="display: flex; justify-content: center; align-items: center; border: 1px solid; width: 90%; height: 100px; margin: 0 auto; margin-top: 70px; margin-bottom: 80px; border-radius: 20px; text-align: center">
        <div style="display: inline-block; margin: 0 auto">
            <h4 style="float: left; margin-right: 30px">Hospi는 다음과 같은 사양을 만족해야 실행할 수 있습니다.</h4>
            <a href="~/Product/DownloadFile?filePath=Hospi.zip" class="btn btn-dark file-down">Hospi 다운로드</a>
        </div>
    </div>
    <div style="width: 80%; margin: 0 auto">
        <h3>최소 시스템 요구 사항</h3><br />
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">운영체제</th>
                    <td>Windows 10</td>
                </tr>
                <tr>
                    <th scope="row">프로세서</th>
                    <td>듀얼코어, 1GHz 이상의 호환되는 64비트 프로세서</td>
                </tr>
                <tr>
                    <th scope="row">메모리</th>
                    <td>2GB 이상</td>
                </tr>
                <tr>
                    <th scope="row">저장공간</th>
                    <td>여유공간 2GB 이상</td>
                </tr>
                <tr>
                    <th scope="row">그래픽 카드</th>
                    <td>DirectX 9 이상 호환 그래픽</td>
                </tr>
                <tr>
                    <th scope="row">디스플레이</th>
                    <td>1920 x 1080(FHD) 이상</td>
                </tr>
                <tr>
                    <th scope="row">인터넷 연결</th>
                    <td>ADSL, CABLE 전용선</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>