@{
    ViewData["Title"] = "회원가입 완료";
}

<div class="container">
    <div style="margin-top: 150px">
        <h4 class="text-center">Hospi 결제가 성공적으로 완료되었습니다!</h4>
        <a class="btn btn-dark" asp-area="" asp-controller="Product" asp-action="Download" style="width: 200px; margin: auto; display:block; margin-top: 50px">
            Hospi 다운하기
        </a>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="Index" style="width: 200px; margin: auto; display:block; margin-top: 10px">
            홈으로 돌아가기
        </a>
    </div>
</div>