@{
    ViewData["Title"] = "구매하기";

    string code = ViewContext.HttpContext.Request.Form["kind"];
    string price = ViewContext.HttpContext.Request.Form["price"];

    string kind = "";
    if (code == "1001")
        kind = "의원";
    if (code == "1002")
        kind = "종합병원";
    if (code == "1003")
        kind = "대학병원";
}

<head>
    <link rel="stylesheet" href="~/css/payment.css" />
</head>

<!-- <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> -->
<script src="~/js/payment.js"></script>

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px"><a style="color: black;" asp-controller="Home" asp-action="Index">Hospi 홈</a> > <a style="color: black;" asp-controller="Product" asp-action="Windows">Windows</a> > <a style="color: black;" asp-controller="Product" asp-action="Purchase">플랜 및 가격</a> > 구매하기</p>
    </div>
</div>

<div class="container" id="paymentContainer">
    <h4 style="margin-left: 40px;">Hospi 결제</h4>
    <hr />
    <form method="post">
        <div class="form-group paymentFormDiv">
            <div style="width: 450px; float: left">
                <h4>결제정보 입력</h4>
                <table class="table">
                    <tr>
                        <th scope="row">카드번호</th>
                        <td>
                            <input type="password" class="form-control" style="width: 60px; float: left; margin-right: 10px " maxlength="4" />
                            <p style="float:left; margin-right: 10px">-</p>
                            <input type="password" class="form-control" style="width: 60px; float: left; margin-right: 10px " maxlength="4" />
                            <p style="float: left; margin-right: 10px">-</p>
                            <input type="password" class="form-control" style="width: 60px; float: left; margin-right: 10px " maxlength="4" />
                            <p style="float: left; margin-right: 10px">-</p>
                            <input type="password" class="form-control" style="width: 60px; float: left" maxlength="4" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">유효기간</th>
                        <td>
                            <input type="text" class="form-control" style="width: 50px; float: left; margin-right: 10px " placeholder="월" maxlength="2" />
                            <input type="text" class="form-control" style="width: 100px; float: left; margin-right: 10px" placeholder="년(4자리)" maxlength="4" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">이름</th>
                        <td><input type="text" class="form-control" style="width: 200px" /></td>
                    </tr>
                    <tr>
                        <th scope="row">생년월일</th>
                        <td>
                            <input type="text" class="form-control" style="width: 100px; float: left; margin-right: 10px" placeholder="년(4자리)" />
                            <input type="text" class="form-control" style="width: 50px; float: left; margin-right: 10px " placeholder="월" />
                            <input type="text" class="form-control" style="width: 50px; float: left" placeholder="일" />
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width: 400px; margin-top:20px; float: right">
                <div>
                    <p>선택하신 플랜은 <b><u>@(kind)용</u></b>입니다.<br />@(kind)용 기능과 @(kind)규모급 DB가 제공됩니다.<br />Hospi는 일회성 구매 제품으로서 구매 후 영구사용이 가능합니다.</p>
                    <div>
                        <h4 style="float:left">결제금액(VAT 포함)</h4>
                        <h4 class="text-right">@price</h4>
                    </div>
                    <div style="margin-left: 20px; margin-top: 10px">
                        <input class="form-check-input" type="checkbox" id="paymentAgree" value="동의" />
                        <label class="form-check-label" for="paymentAgree">본인정보를 결제 서비스업체에 제공하는데 동의합니다.</label>
                    </div>
                </div>
                <div style="text-align: right; margin-top: 5px">
                    <button class="btn btn-dark" type="submit" style="width: 100%; height: 50px; font-size: 20px" asp-area="" asp-controller="Product" asp-action="PaymentSuccess">결제하기</button>
                </div>
            </div>
        </div>
    </form>
</div>