@{
    ViewData["Title"] = "회원가입 완료";
}

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px">Hospi 홈 > Windows > 구매하기</p>
    </div>
</div>

<div class="container">
    <div style="margin-top: 100px">
        <h4 class="text-center">Hospi 결제가 성공적으로 완료되었습니다!</h4>
        <a class="btn btn-dark" asp-area="" asp-controller="Product" asp-action="Download" style="width: 200px; margin: auto; display:block; margin-top: 50px">
            Hospi 다운하기
        </a>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="Index" style="width: 200px; margin: auto; display:block; margin-top: 10px">
            홈으로 돌아가기
        </a>
    </div>
</div>