@{
    ViewData["Title"] = "구매";
}

<style>
    .select_box {
        border: 1px solid #D2D2D2;
        float: left;
        width: 300px;
        height: 320px;
        margin: 0 auto;
        margin-bottom: 180px;
    }
</style>

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px">Hospi 홈 > Windows > 구매하기</p>
    </div>
</div>
<div class="container">
    <div style="text-align: center">
        <img src="~/image/icon.png" style="width: 150px; border-radius: 10px; margin-top: 70px; margin-bottom: 30px" />
        <br />
        <h2 style="margin-bottom: 60px">병원용 Hospi 플랜 및 가격</h2>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <div class="select_box" style="margin-right: 50px">
            <div style="margin: 10px 18px 10px 18px">
                <p style="font-size: 25px">의원용</p>
                <p style="font-size: 23px">₩13,000<span style="font-size: 15px">/월</span>&nbsp;<sup><del>₩25,000/월</del></sup></p>
                <p>의원용 기본 기능<br />의원 규모급 DB 제공</p>
                <p style="font-size: 20px">결제<br /><span style="font-size: 16px; padding: 3px 10px 3px 10px; border: 1px solid #D2D2D2">매월 지불</span></p>
                <hr />
                <div style="text-align: right">
                    <a class="btn btn-dark" asp-area="" asp-controller="Product" asp-action="Payment">구매하기</a>
                </div>
            </div>
        </div>
        <div class="select_box" style="margin-right: 50px">
            <div style="margin: 10px 18px 10px 18px">
                <p style="font-size: 25px">종합병원용</p>
                <p style="font-size: 23px">₩27,000<span style="font-size: 15px">/월</span>&nbsp;<sup><del>₩38,000/월</del></sup></p>
                <p>기본 기능과 종합병원을 위한 기능<br />종합병원 규모급 DB 제공</p>
                <p style="font-size: 20px">결제<br /><span style="font-size: 16px; padding: 3px 10px 3px 10px; border: 1px solid #D2D2D2">매월 지불</span></p>
                <hr />
                <div style="text-align: right">
                    <a class="btn btn-dark" asp-area="" asp-controller="Product" asp-action="Payment">구매하기</a>
                </div>
            </div>
        </div>
        <div class="select_box">
            <div style="margin: 10px 18px 10px 18px">
                <p style="font-size: 25px">대학병원용</p>
                <p style="font-size: 23px">₩45,000<span style="font-size: 15px">/월</span>&nbsp;<sup><del>₩64,000/월</del></sup></p>
                <p>대학병원을 위한 모든 기능<br />대학병원 규모급 DB 제공</p>
                <p style="font-size: 20px">결제<br /><span style="font-size: 16px; padding: 3px 10px 3px 10px; border: 1px solid #D2D2D2">매월 지불</span></p>
                <hr />
                <div style="text-align: right">
                    <a class="btn btn-dark" asp-area="" asp-controller="Product" asp-action="Payment">구매하기</a>
                </div>
            </div>
        </div>
    </div>
    
</div>