@{
    ViewData["Title"] = "구매";

    var kindArr = new[] { "의원", "종합병원", "대학병원" };

    List<ProductViewModel> productList = (List<ProductViewModel>)ViewContext.ViewData.Model;
}

<head>
    <link rel="stylesheet" href="~/css/purchase.css" />
</head>

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px"><a style="color: black;" asp-controller="Home" asp-action="Index">Hospi 홈</a> > <a style="color: black;" asp-controller="Product" asp-action="Windows">Windows</a> > 플랜 및 가격</p>
    </div>
</div>
<div class="container">
    <div style="text-align: center">
        <img src="~/image/icon.png" style="width: 150px; border-radius: 10px; margin-top: 70px; margin-bottom: 30px" />
        <br />
        <h2 style="margin-bottom: 60px">병원용 Hospi 플랜 및 가격</h2>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        @for (int i = 0; i < 3; i++)
        {
        <div class="select_box" style="margin-right: 50px">
            <div style="margin: 10px 18px 10px 18px">
                <p style="font-size: 25px">@productList[i].ProductName</p>
                <p style="font-size: 23px">&#8361;@productList[i].Price</p>
                <p>@kindArr[i]용 기능과<br />@kindArr[i] 규모급 DB 제공</p>
                <p style="font-size: 20px">결제<br /><span style="font-size: 16px; padding: 3px 10px 3px 10px; border: 1px solid #D2D2D2">일회성 구매</span></p>
                <hr />
                <div style="text-align: right">
                    <form method="get">
                        <input type="hidden" name="productCode" value="@productList[i].ProductCode" />
                        <button class="btn btn-dark" type="submit" asp-area="" asp-controller="Product" asp-action="Payment">구매하기</button>
                    </form>
                </div>
            </div>
        </div>
        }
    </div>
</div>