@{
    ViewData["Title"] = "Windows";
}

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px; "><a style="color: black;" asp-controller="Home" asp-action="Index">Hospi 홈</a> > Windows</p>
    </div>
</div>

<div class="bg-light" style="height:870px;">
    <div class="container">
        <h1 style="margin-left:100px; padding-top:220px; font-weight:bold; font-size:50px;">HOSPI</h1>
        <p style="margin-left: 100px; margin-top: 20px; font-size: 25px;">EMR프로그램을 통한 손쉬운 병원 관리<br />예약, 진료, 문의까지 처리할 수 있는 <br />편리한 프로그램을 만나보세요.</p>

        <a aria-expanded="false" class="btn btn-dark" style="position:absolute; margin-left:100px; margin-top:30px; width:200px;  font-size:17px;" asp-area="" asp-controller="Product" asp-action="Purchase">
            Hospi 플랜 및 가격
        </a>
        <a aria-expanded="false" class="btn btn-dark" style="position:absolute; margin-left:325px; margin-top: 30px; width:200px;  font-size: 17px;" asp-area="" asp-controller="Product" asp-action="Download">
            Hospi 다운로드
        </a>

        <img src="~/image/Windowbanner_withshadow.png"  style="position:absolute; margin-left:550px; top:250px; width:630px;height:550px;"/>
    </div>
</div>

<div class="container" style="height:900px; margin-top:60px; margin-bottom:80px;">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li style="background-color:black; width:50px; height:4px; border-radius:5px; margin-bottom:-50px;" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li style="background-color: black; width: 50px; height: 4px; margin-left: 10px; margin-bottom: -50px; " data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li style="background-color: black; width: 50px; height: 4px; margin-left: 10px; margin-bottom: -50px; " data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li style="background-color: black; width: 50px; height: 4px; margin-left: 10px; margin-bottom: -50px; " data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div style="width:300px; height:850px;">
                        <img src="~/image/Windows_img1.png" style="margin-left:130px; margin-top:50px; width:900px;" />
                    </div>
                    <div class="carousel-caption d-md-block">
                        <h5 style="font-size:30px; font-weight:bold; color:black;">손쉽게 사용할 수 있는 EMR 프로그램</h5>
                        <p style="font-size:20px; color:black;">병원 내 업무를 HOSPI프로그램을 사용하여 손쉽게 관리해보세요<br />예약, 진료, 문의 등 다양한 기능을 사용하실 수 있습니다.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="width:300px; height:850px;">
                        <img src="~/image/Windows_img2.png" style="margin-left:130px; margin-top:200px; width:900px;" />
                    </div>
                    <div class="carousel-caption d-md-block" style="margin-bottom:120px;">
                        <h5 style="font-size: 30px; font-weight: bold; color: black;">모바일 예약을 한눈에</h5>
                        <p style="font-size: 20px; color: black;">모바일 HOSPI사용자의 예약을 한번에 관리하세요</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="width:300px; height:850px;">
                        <img src="~/image/Windows_img3.png" style="margin-left:130px; margin-top:50px; width:900px;" />
                    </div>
                    <div class="carousel-caption d-md-block">
                        <h5 style="font-size: 30px; font-weight: bold; color: black;">환자의 문의를 한눈에</h5>
                        <p style="font-size: 20px; color: black;">환자의 문의를 한눈에 확인하고 답변을 남겨보세요</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div style="width:300px; height:850px;">
                        <img src="~/image/Windows_img4.png" style="margin-left:130px; margin-top:150px; width:900px;" />
                    </div>
                    <div class="carousel-caption d-md-block" style="margin-bottom:50px;">
                        <h5 style="font-size: 30px; font-weight: bold; color: black;">환자 진료도 하나의 프로그램을 통해</h5>
                        <p style="font-size: 20px; color: black;">HOSPI프로그램 내부에서 지원하는 진료 시스템을 통해 환자의 진료를 진행하세요<br />환자에게 모바일 앱을 통해 해당 진료내역을 제공할 수 있습니다.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="width:100px">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="filter:invert(100%)"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="width:100px; color:black; ">
                <span class="carousel-control-next-icon" aria-hidden="true" style="filter:invert(100%)"></span>
                <span class="sr-only" style="color:black;">Next</span>
            </a>

            
        </div>
    </div>
</div>