@{
    ViewData["Title"] = "Download";
}

<div class="text-center">
    <h1>Hospi 병원용 다운로드</h1>
    <h4><a href="~/Home/DownloadFile?filePath=Hospi_Setup.exe" class="file-down">Hospi(x64) 다운로드</a></h4>
</div>
