@{
    ViewData["Title"] = "Download Page";
}

<div class="text-center">
    <h1 class="display-4">Hospi 병원용 다운로드</h1>
    <p><a href="~/Home/DownloadFile?filePath=downloadtest.zip" class="file-down"><span>Hospi 1.0.0.0 (x64) 다운로드</span></a></p>
</div>
