@{
    ViewData["Title"] = "홈";
}

<div class="container-fluid" style="height: 250px; background-color: rgba( 0, 0, 0, 0.5 )">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/image/main1.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <a href='https://play.google.com/store/apps/details?id=com.gradproject.hospi&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img alt='다운로드하기 Google Play' src='https://play.google.com/intl/ko/badges/static/images/badges/ko_badge_web_generic.png' style="height:80px; position:absolute; left:400px;top:330px" />
                </a>

                <img class="d-block w-100" src="~/image/main2.png" alt="Second slide">
            </div>
        </div>
    </div>

</div>
<div class="container-fluid" style="background-color:#E0E0E0; height:250px">
    
</div>
<div class="container">
    <p style="position:absolute; left:400px;">공지사항</p>
    <p class="border-left" style="position:absolute; left:960px; height:250px"> <br /></p>
    <p style="position:absolute; left:1000px;">자주하는 질문</p>

    
</div>
