@{
    ViewData["Title"] = "홈";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<script src="~/js/banner.js"></script>

<div class="container-fluid w-100" style="height: 550px; background-color: rgba( 0, 0, 0, 0.5 )">
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li style="background-color:black; border-radius:50%; width:10px; height:10px; margin-left:0px;position:absolute; top:0px;" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li style="background-color:black; border-radius: 50%; width: 10px; height: 10px; margin-left:40px;position:absolute; top:0px;" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a class="btn btn-dark" style="position: absolute; left:130px;top: 390px; width: 200px" asp-area="" asp-controller="Product" asp-action="Windows">
                            Hospi 제품소개
                        </a>

                        <img class="" src="~/image/banner1.png" alt="First slide" style="margin-left:100px;"/>
                    </div>
                    <div class="carousel-item">
                        <a href='https://play.google.com/store/apps/details?id=com.gradproject.hospi&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                            <img alt='다운로드하기 Google Play' src='https://play.google.com/intl/ko/badges/static/images/badges/ko_badge_web_generic.png' style="width: 230px; position: absolute; left:120px;top: 360px" />
                        </a>

                        <img class="" src="~/image/banner2.png" alt="Second slide" style="margin-left:100px;">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="width:100px">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style=""></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="width:100px">
                    <span class="carousel-control-next-icon" aria-hidden="true" style=""></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="container" style="height:300px;margin-bottom:150px;">
    <div class="row">
        <a class="container custom-container" style="margin-left:90px; font-size:10px;" asp-area="" asp-controller="Product" asp-action="Purchase">
                <img class="" src="~/image/shopping_cart_black.svg" style="width:100px; height:100px; margin-top:60px;">
                <h5 class="jumbo-text text-md-center" style="color:black; font-size:20px; margin-top:50px;">제품구매</h5>
        </a>

        <a class="container custom-container" asp-area="" asp-controller="Support" asp-action="Inquiry">
                <img class="" src="~/image/support_agent_black_48dp.svg" style="text-align: center; width: 100px; height: 100px; margin-top: 60px;">
                <h5 class="jumbo-text text-md-center" style="color: black; text-align: center; font-size: 20px; margin-top: 50px;">문의게시판</h5>
        </a>
        
        <a class="container custom-container" asp-area="" asp-controller="Support" asp-action="Notice">
                <img class="" src="~/image/campaign_black.svg" style="width: 100px; height: 100px; margin-top: 60px;">
                <h5 class="jumbo-text text-md-center" style="color: black; font-size: 20px; margin-top: 50px;">공지사항</h5>
        </a>
        
    </div>
</div>
