@{
    ViewData["Title"] = "홈";
}

<div class="container-fluid" style="margin-top:10px; margin-bottom:auto; height: 75%; background-color: rgba( 0, 0, 0, 0.5 )">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li style="background-color:black; border-radius:50%; width:12px; height:12px; position:absolute; left:48%; top:-10px;" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li style="background-color:black; border-radius: 50%; width: 12px; height: 12px; position:absolute; left:51%; top:-10px;" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a aria-expanded="false" class="btn btn-dark" style="position: absolute; left: 22%; top: 80%" asp-area="" asp-controller="Product" asp-action="Windows">
                        Hospi 플랜 및 가격
                    </a>

                    <img class="w-100 h-100" src="~/image/main1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <a href='https://play.google.com/store/apps/details?id=com.gradproject.hospi&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                        <img alt='다운로드하기 Google Play' src='https://play.google.com/intl/ko/badges/static/images/badges/ko_badge_web_generic.png' style="height: 20%; position: absolute; left: 22%; top: 75%" />
                    </a>

                    <img class="w-100 h-100" src="~/image/main2.png" alt="Second slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="left:15%; width:100px">
                <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="left:80%; width:100px">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

    
</div>
<div class="container" style="margin-bottom:150px;">
    <p>공지사항</p>

    
</div>
