@{
    ViewData["Title"] = "Hospi";
}


<div class="container-fluid bg-secondary" style="height:250px">
    <div class="container">
        <h2 class="text-white" style="position:absolute; left:500px;top:100px;">병원업무를 편리하게</h2>
        <p class="text-white" style="position:absolute; left:520px;top:130px; font-size:60px; font:bold">HOSPI</p>
    </div>
</div>
<div class="container-fluid" style="background-color:#E0E0E0; height:250px">
    
</div>
<div class="container">
    <p style="position:absolute; left:400px;">공지사항</p>
    
    <p style="position:absolute; left:1000px;">자주하는 질문</p>
</div>