@{
    ViewData["Title"] = "회원가입";
}

@model MemberViewModel;

<script src="~/js/signUp.js"></script>

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px"><a style="color: black;" asp-controller="Home" asp-action="Index">Hospi 홈</a> > 회원가입</p>
    </div>
</div>
<div class="container" style="margin-top: 70px; margin-bottom: 150px">
    <div class="form-group" style="width: 600px; margin: 0 auto; margin-bottom: 70px">
        <h4>회원약관 동의</h4>
        <hr />
        <textarea class="form-control" style="height: 150px; resize: none" readonly>
Hospi 약관 동의
            </textarea>
        <div style="text-align: right; margin-top: 5px;">
            <input class="form-check-input" type="checkbox" id="privacyPolicyAgree" name="agree" value="동의합니다." />
            <label class="form-check-label" for="privacyPolicyAgree">동의합니다.</label>
        </div>
    </div>
    <div class="form-group" style="width: 600px; margin: 0 auto;">
        <h4>기본정보 입력</h4>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">아이디(이메일)</th>
                    <td>
                        <input type="email" class="form-control" id="email" style="width: 400px; float: left; margin-right: 10px" placeholder="example@example.com" onkeyup="reinput()"/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">비밀번호</th>
                    <td><input type="password" class="form-control" id="password" style="width: 400px" placeholder="비밀번호는 영어, 특수문자 포함 8자리 이상입니다." onkeyup="reinput()"/></td>
                </tr>
                <tr>
                    <th scope="row">비밀번호 확인</th>
                    <td><input type="password" class="form-control" id="password2" style="width: 400px" /></td>
                </tr>
                <tr>
                    <th scope="row">이름</th>
                    <td><input type="text" class="form-control" id="name" style="width: 400px" onkeyup="reinput()" maxlength="10" /></td>
                </tr>
                <tr>
                    <th scope="row">성별</th>
                    <td>
                        <div style="margin-left: 20px">
                            <input class="form-check-input" type="radio" id="male" name="sex" value="남" onchange="reinput()"/>
                            <label class="form-check-label" for="male" style="margin-right: 30px">남</label>
                            <input class="form-check-input" type="radio" id="female" name="sex" value="여" onchange="reinput()" />
                            <label class="form-check-label" for="female">여</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">생년월일</th>
                    <td>
                        <input type="text" class="form-control" id="year" style="width: 100px; float: left; margin-right: 10px" placeholder="년(4자리)" maxlength="4" onkeyup="reinput()" />
                        <input type="text" class="form-control" id="month" style="width: 50px; float: left; margin-right: 10px " placeholder="월" maxlength="2" onkeyup="reinput()" />
                        <input type="text" class="form-control" id="day" style="width: 50px; float: left" placeholder="일" maxlength="2" onkeyup="reinput()" />
                    </td>
                </tr>
                <tr>
                    <th scope="row">휴대폰 번호</th>
                    <td><input type="text" class="form-control" id="phone" style="width: 400px" placeholder="번호만 입력해주세요." maxlength="11" onkeyup="reinput()" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group" style="text-align: center; margin-top: 40px">
        <form method="post" id="memberForm" onsubmit="return signUpBtn()" asp-controller="Home" asp-action="SignUpProcess">
            <input type="hidden" id="_email" asp-for="email" />
            <input type="hidden" id="_password" asp-for="password" />
            <input type="hidden" id="_name" asp-for="name" />
            <input type="hidden" id="_sex" asp-for="sex" />
            <input type="hidden" id="_birth" asp-for="birth" />
            <input type="hidden" id="_phone" asp-for="phone" />
            <button class="btn btn-dark" type="submit" style="width: 150px; height: 40px">가입하기</button>
            <input type="text" class="form-control" id="checktext" style="pointer-events:none; border:none; display:none; margin-top:20px; text-align:center; font-size:20px; color:red;" />
        </form>
    </div>
</div>