@{
    ViewData["Title"] = "문의게시판";
}

<head>
    <link rel="stylesheet" href="~/css/board.css" />
</head>

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px"><a style="color: black;" asp-controller="Home" asp-action="Index">Hospi 홈</a> > 문의게시판</p>
    </div>
</div>

<div class="container" id="boardContainer">
    <h4 id="pageTitle">문의게시판</h4>
    <hr />
    <div class="boardDiv">
        <div id="searchDiv">
            <input type="text" class="form-control" id="searchInput" placeholder="게시판 내 검색하기" />
            <input type="button" class="btn btn-dark" id="searchBtn" value="검색" />
        </div>
        <table class="table" id="boardTable">
            <thead>
                <tr>
                    <th class="text-center" scope="row" style="width: 15%">번호</th>
                    <th class="text-center" scope="row" style="width: 40%">제목</th>
                    <th class="text-center" scope="row" style="width: 20%">등록일</th>
                    <th class="text-center" scope="row" style="width: 15%">조회수</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="boardDiv" style="text-align: right; margin-top: 50px;">
        <a class="btn btn-dark" asp-controller="Support" asp-action="InquiryCreate">글작성</a>
    </div>
</div>