@{
    ViewData["Title"] = "공지사항";
}

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px">Hospi 홈 > 공지사항</p>
    </div>
</div>