@{
    ViewData["Title"] = "제품지원";
}

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px">Hospi 홈 > 제품지원</p>
    </div>
</div>
<div class="container">
    <h4 style="margin-left: 40px; margin-top: 70px">제품지원</h4>
    <hr />
    <p style="margin-left: 40px; margin-bottom: 30px">(주)Hospi는 등록하신 회원에게 고객지원을 해드리고 있습니다.</p>
    <div style="width: 90%; margin: 0 auto; margin-bottom: 150px">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">제품군</th>
                    <th scope="col" class="text-center">제품명</th>
                    <th scope="col" class="text-center">판매</th>
                    <th scope="col" class="text-center">지원기간</th>
                    <th scope="col" class="text-center">업데이트</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">Windows</td>
                    <td class="text-center">Hospi</td>
                    <td class="text-center">○</td>
                    <td class="text-center">서비스 운영기간 내</td>
                    <td class="text-center">○</td>
                </tr>
                <tr>
                    <td class="text-center">모바일(Android)</td>
                    <td class="text-center">Hospi</td>
                    <td class="text-center">무료</td>
                    <td class="text-center">서비스 운영기간 내</td>
                    <td class="text-center">○</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>