#userInfoContainer {
    margin-top: 70px;
    margin-bottom: 150px;
}

.box-div {
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 800px;
    border: 1px solid;
    border-color: #AFAFAF;
    border-radius: 5px;
    box-shadow: 2px 1px 3px gray;
}