#userInfoContainer {
    margin-top: 70px;
    margin-bottom: 150px;
}

.box-div {
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 800px;
    border: 1px solid;
    border-color: #AFAFAF;
    border-radius: 5px;
    box-shadow: 2px 1px 3px gray;
}

#tokenBox{
    margin-top: 20px;
    margin-bottom: 20px;
}

#tokenText{
    width: 450px;
    margin-right: 20px;
    float: left;
}

.change-btn{
    margin-right: 5px;
    float: left;
}

#planDiv {
    margin-bottom: 30px;
}

#iconImg {
    float: left;
    width: 33px;
    border-radius: 3px;
    margin-right: 10px;
}